<div class="logon-banner d-flex justify-content-center text-c-welcome fontQS">
<div class="card transparent d-flex justify-content-center mt-10" style="max-width: auto; max-height: 20rem;">
  <div class="card-header d-flex justify-content-center flex-wrap"><h1>Radiation Zone </h1>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <span class="text-dark"><%= render "devise/shared/error_messages", resource: resource %></span>
  <div class="field d-flex justify-content-center mt-4">
    <%= f.label :email, class: "mx-3 pl-5"%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field d-flex justify-content-center">
    <%= f.label :password, class: "mx-4" %>
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field d-flex justify-content-center">
    <%= f.label :confirmation, class: "mx-2" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions d-flex justify-content-center">
    <%= f.submit "Sign up", class: "text-c-welcome btn btn-light d-flex ml-4" %>
  </div>
<% end %>

</div>

</div>