<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @npc.name %>
</p>

<p>
  <strong>Char name:</strong>
  <%= @npc.char_name %>
</p>

<p>
  <strong>Background:</strong>
  <%= @npc.background %>
</p>

<p>
  <strong>Faction:</strong>
  <%= @npc.faction %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @npc.profession %>
</p>

<p>
  <strong>Alignment:</strong>
  <%= @npc.alignment %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @npc.experience %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @npc.strength %>
</p>

<p>
  <strong>Dexterity:</strong>
  <%= @npc.dexterity%>
  <%= @items%>
</p>

<p>
  <strong>Constitution:</strong>
  <%= @npc.constitution %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @npc.intelligence %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @npc.wisdom %>
</p>

<p>
  <strong>Charisma:</strong>
  <%= @npc.charisma %>
</p>

<p>
  <strong>Armor class:</strong>
  <%= @npc.armor_class %>
</p>

<p>
  <strong>Initiative:</strong>
  <%= @npc.initiative %>
</p>

<p>
  <strong>Hit points:</strong>
  <%= @npc.hit_points %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
