<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Inventory</th>
      <th>Name</th>
      <th>Damage</th>
      <th>Bonus</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.inventory %></td>
        <td><%= item.name %></td>
        <td><%= item.str_bonus %></td>
        <td><%= item.dex_bonus %></td>
        <td><%= item.con_bonus %></td>
        <td><%= item.int_bonus %></td>
        <td><%= item.wis_bonus %></td>
        <td><%= item.cha_bonus %></td>
        <td><%= item.description %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
<%= link_to 'MasterScreen', dashboard_masterscreen_path %>
