<p id="notice"><%= notice %></p>

<p>
  <strong>Inventory:</strong>
  <%= @item.inventory %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Str bonus:</strong>
  <%= @item.str_bonus %>
</p>

<p>
  <strong>Dex bonus:</strong>
  <%= @item.dex_bonus %>
</p>

<p>
  <strong>Con bonus:</strong>
  <%= @item.con_bonus %>
</p>

<p>
  <strong>Int bonus:</strong>
  <%= @item.int_bonus %>
</p>

<p>
  <strong>Wis bonus:</strong>
  <%= @item.wis_bonus %>
</p>

<p>
  <strong>Cha bonus:</strong>
  <%= @item.cha_bonus %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
